.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #cdb4db;
}

.calculator {
    /* width: 300px; */
    padding: 14px;
    background-color: #a2d2ff;
}

.btn-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}